---
import '../styles/globals.css'

interface Props {
  title: string
}

const { title } = Astro.props
---

<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta
      name="description"
      content="Diego Ramos. Engineer and front-end web developer from Colombia. Crafting beautiful and functional user experiences.       
      Code, create, captivate. Building cool stuff.  "
    />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/png" href="/favicon.png" />
    <link
      rel="preload"
      href="https://cdn.jsdelivr.net/fontsource/fonts/bebas-neue@latest/latin-400-normal.woff2"
      as="font"
      type="font/woff2"
      crossorigin="anonymous"
    />
    <title>{title}</title>
  </head>

  <body data-theme="dark">
    <slot />
  </body>
</html>
